.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: rgb(13, 0, 255);
	background-color: rgb(85, 240, 209);
	font-family: fantasy;
}

